<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> First dkagteh templaye</h1> 
    <form method="POST">
        <label for ="name"></label>
        <input type="text" name="name" placeholder="name">
        <br>
        <input type="submit" value="Submit">
    </form>
    <img src="https://w0.peakpx.com/wallpaper/920/349/HD-wallpaper-girl-pictur-thumbnail.jpg">
</body>
</html>